{% extends 'base.html.twig' %}
{% block title %}<title>Armenia Tree Project - Backyard nurseries</title>{% endblock %}

{% block body %}

    <section class="backyard-nurseries secondary-pages-top-content" style="background:url('uploads/images/{{ top.Image }}') no-repeat; background-size:cover; background-position: 0;">
        <div class="container">
            <div class="row center-aligned-row">
                <div class="col-sm-6">
                    {% autoescape %}
                        {% if lang == 'eng' %}
                            <h1>{{ top.TitleEng|raw }}</h1>
                        {% elseif lang == 'arm' %}
                            <h1>{{ top.TitleArm|raw }}</h1>
                        {% endif %}
                    {% endautoescape %}
                </div>
                <div class="col-sm-6 cover-text">
                    {% autoescape %}
                        {% if lang == 'eng' %}
                            <p>{{ top.TextEng|raw }}</p>
                        {% elseif lang == 'arm' %}
                            <p>{{ top.TextArm|raw }}</p>
                        {% endif %}
                    {% endautoescape %}
                </div>
            </div>
        </div>
    </section>

    <div class="backyard-nurseries-main-content-wrapper">
        {% for item in content %}
            {% if item.Position == 'first' %}
        <section class="community-second">
            <div class="container">
                <div class="row center-aligned-row">
                    <div class="col-md-6 col-xs-12">
                        {% autoescape %}
                        <p>
                            {% if lang == 'eng' %}
                                {{ item.TextEng|raw }}
                            {% elseif lang == 'arm' %}
                                {{ item.TextArm|raw }}
                            {% endif %}
                        </p>
                        {% endautoescape %}
                        <a href="{{ path('bndonate') }}">
                            <button class="sponsor-backyard-nursery-btn">
                                {% if lang == 'eng' %}
                                    {{ item.LinkTextEng|raw }}
                                {% elseif lang == 'arm' %}
                                    {{ item.LinkTextArm|raw }}
                                {% endif %}
                            </button>
                        </a>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <div class="support-families">
                            <div class="title-and-play-button-wrapper">
                                {% autoescape %}
                                    {% if lang == 'eng' %}
                                        <h3>{{ item.TitleEng|raw }}</h3>
                                    {% elseif lang == 'arm' %}
                                        <h3>{{ item.TitleArm|raw }}</h3>
                                    {% endif %}
                                {% endautoescape %}
                                <a  data-toggle="modal" data-target="#how_planting_works"><img class="play-button" src="./img/play_btn.svg" alt=""></a>
                            </div>
                        </div>
                        <div class="modal fade" id="how_planting_works" tabindex="-1" role="dialog" aria-labelledby="how_planting_works"
                             aria-hidden="true">
                            <div class="modal-dialogg">
                                <div class="modal-contentt">
                                    <div class="modal-body">
                                        <button style="color: #ffffff; opacity: 1;" type="button" class="close" data-dismiss="modal"
                                                aria-hidden="true">&times;</button>
                                        <div class="video-container">
                                            <iframe width="560" height="315" src="{{ item.VideoLink }}" frameborder="0"  allowfullscreen></iframe>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% elseif item.Position == 'second' %}
                <div class="row center-aligned-row">
                    <div class="col-md-6 col-xs-12">
                        <img src="uploads/images/{{ item.Image }}" alt="">
                    </div>
                    <div class="col-md-6">
                        {% autoescape %}
                            <p>
                                {% if lang == 'eng' %}
                                    {{ item.TextEng|raw }}
                                {% elseif lang == 'arm' %}
                                    {{ item.TextArm|raw }}
                                {% endif %}
                            </p>
                        {% endautoescape %}
                    </div>
                </div>
                {% elseif item.Position == 'third' %}
                <div class="row backyard-nurseries-info-panel-wrapper center-aligned-row">
                    <div class="col-md-6 col-xs-12">
                        {% autoescape %}
                            <p>
                                {% if lang == 'eng' %}
                                    {{ item.TextEng|raw }}
                                {% elseif lang == 'arm' %}
                                    {{ item.TextArm|raw }}
                                {% endif %}
                            </p>
                        {% endautoescape %}
                    </div>
                    <div class="col-md-6 col-xs-12 backyard-nurseries-info-panel">
                        {% autoescape %}
                        <p>
                            {% if lang == 'eng' %}
                                {{ item.TitleEng|raw }}
                            {% elseif lang == 'arm' %}
                                {{ item.TitleArm|raw }}
                            {% endif %}
                        </p>
                        {% endautoescape %}
                    </div>
                </div>
            </div>
        </section>

        {% elseif item.Position == 'fourth' %}
        <section class="acknowledgment-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-xs-12">
                        <img src="uploads/images/{{ item.Image }}" alt="">
                    </div>
                    <div class="col-md-6 col-xs-12">
                        {% autoescape %}
                            <p>
                                {% if lang == 'eng' %}
                                    {{ item.TextEng|raw }}
                                {% elseif lang == 'arm' %}
                                    {{ item.TextArm|raw }}
                                {% endif %}
                            </p>
                        {% endautoescape %}
                        <p class="text-right">-- Arthur Harutyunyan <br/> ATP Operations Manager</p>
                    </div>
                </div>
            </div>
        </section>
        {% endif %}
        {% endfor %}

        <section class="community-last-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h4>FEATURED CONTENT</h4>
                    </div>
                    <div class="row">

                    </div>
                </div>
                <div class="row">
                    {% for item in bottom %}
                        {% if item.Position == 'first' %}
                            <div class="col-md-6">
                                <div class="first-content">
                        {% elseif item.Position == 'second' %}
                            <div class="col-md-3">
                                <div class="second-content">
                        {% elseif item.Position == 'third' %}
                            <div class="col-md-3">
                                <div class="third-content">
                        {% endif %}
                        {% autoescape %}
                            <h3>
                                {% if lang == 'eng' %}
                                    {{ item.TextEng|raw }}
                                {% elseif lang == 'arm' %}

                                    {{ item.TextArm|raw }}
                                {% endif %}
                            </h3>
                        {% endautoescape %}
                        {% if item.LinkType == 'outter' %}
                            <a href="{{ item.Link }}">
                                <button> Donate</button>
                            </a>
                        {% elseif item.LinkType == 'inner' %}
                            <p>{{ item.DateCreated.format('d M, Y') }}</p>
                            <a href="{{ item.Link }}">Read More</a>
                        {% endif %}
                                </div>
                            </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </div>



    <!--Footer Section-->

    <section class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                    <ul>
                        <li>
                            <a href="#">Glossary</a>
                        </li>

                        <li>
                            <a href="#">Contact Us</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                    <ul>
                        <li>
                            <a href="#">FAQ</a>
                        </li>
                        <li>
                            <a href="#">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="#">Terms & Conditions</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12"> </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <p> <span> Armenia Tree Project </span> <br> 400 West Cummings Park <br> Suite 3900, Woburn, MA 01801 USA <br> 617-926-TREE (8733)</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                    <p class="copyright-text">&copy; Copyright 1994-2018 Armenia Tree Project, a project of Armenian Assembly of America. All Rights Reserved.</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-right  social">
                    <p class="hashtag">#GetRooted</p>
                    <a href="https://www.facebook.com/armeniatree">
                        <img src="./img/facebook-logo.svg" alt="facebook">
                    </a>
                    <a href="https://twitter.com/ArmeniaTree">
                        <img src="./img/twitter-logo.svg" alt="twitter">
                    </a>
                    <a href="https://www.instagram.com/armeniatree/">
                        <img src="./img/instagram-logo.svg" alt="instagram">
                    </a>
                    <a href="https://www.youtube.com/user/ArmeniaTreeProject">
                        <img src="./img/youtube.svg" alt="youtube">
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- jQuery -->
    <script src="{{ asset('js/jquery.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>

    <!-- Custom Js Files-->
    <script src="{{ asset('js/main.js') }}"></script>

{% endblock %}

