{% extends 'base.html.twig' %}
{% block title %}<title>Armenia Tree Project - Education Building Bridges</title>{% endblock %}

    {% block body %}

        <section class="education-and-awareness secondary-pages-top-content" style="background:url('uploads/images/{{ top.Image }}') no-repeat; background-size:cover;">
            <div class="container">
                <div class="row center-aligned-row">
                    <div class="col-sm-6">
                        {% autoescape %}
                            <h1>{{ top.Title|raw }}</h1>
                        {% endautoescape %}
                    </div>
                    <div class="col-sm-6 cover-text">
                        {% autoescape %}
                            <p>{{ top.Text|raw }}</p>
                        {% endautoescape %}
                    </div>
                </div>
            </div>
        </section>

        <div class="education-building-bridges-main-content-wrapper">
            <section class="community-second">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            {% autoescape %}
                                <p>{{ topContent.Text|raw }}</p>
                            {% endautoescape %}
                        </div>
                        <div class="col-md-6">
                            <div class="building-bridges-video">
                                <div class="title-and-play-button-wrapper">
                                    {% autoescape %}
                                        <h3>{{ topContent.Title|raw }}</h3>
                                    {% endautoescape %}
                                    <a  data-toggle="modal" data-target="#how_planting_works"><img class="play-button" src="./img/play_btn.svg" alt=""></a>
                                </div>
                            </div>
                            <div class="modal fade" id="how_planting_works" tabindex="-1" role="dialog" aria-labelledby="how_planting_works"
                                 aria-hidden="true">
                                <div class="modal-dialogg">
                                    <div class="modal-contentt">
                                        <div class="modal-body">
                                            <button style="color: #ffffff; opacity: 1;" type="button" class="close" data-dismiss="modal"
                                                    aria-hidden="true">&times;</button>
                                            <div class="video-container">
                                                <iframe width="560" height="315" src="{{ topContent.link }}" frameborder="0"  allowfullscreen></iframe>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="community-third">
                <div class="container">
                    {% for item in content %}
                        <div class="row focus-items">
                            {% if item.Position == 'left' %}
                                <div class="col-md-6">
                                    <img src="uploads/images/{{ item.Image }}" alt="">
                                </div>
                                <div class="col-md-6 info-text-wrapper">
                                    {% autoescape %}
                                        <h4>{{ item.Title|raw }}</h4>
                                    {% endautoescape %}
                                    {% autoescape %}
                                        <p>{{ item.Text|raw }}</p>
                                    {% endautoescape %}
                                    <button>{% autoescape %}{{ item.LinkText|raw }}{% endautoescape %}</button>
                                </div>
                            {% elseif item.Position == 'right' %}
                                <div class="col-md-6 left-aligned">
                                    {% autoescape %}
                                        <h4>{{ item.Title|raw }}</h4>
                                    {% endautoescape %}
                                    {% autoescape %}
                                        <p>{{ item.Text|raw }}</p>
                                    {% endautoescape %}
                                    <button>{{ item.LinkText }}</button>
                                </div>
                                <div class="col-md-6">
                                    <img src="uploads/images/{{ item.Image }}" alt="">
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </section>


            <section class="building-bridges-form-wrapper" id="building_bridges_form">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <h4>THANK YOU FOR YOUR INTEREST IN BUILDING BRIDGES!</h4>
                        </div>
                    </div>
                    <form>
                        <div class="row">
                            <div class="col-sm-4 col-xs-12">
                                <img src="./img/building-bridges-form-photo.png" srcset="./img/building-bridges-form-photo@2x.png 2x" alt="">
                                <h5>I AM INTERESTED IN: (check all that apply)</h5>
                                <div class="checkbox">
                                    <label><input type="checkbox" value="">Teacher Kit</label>
                                </div>
                                <div class="checkbox">
                                    <label><input type="checkbox" value="">ATP Visit to My School</label>
                                </div>
                                <div class="checkbox">
                                    <label><input type="checkbox" value="">Bringing My School to Armenia</label>
                                </div>
                                <div class="checkbox">
                                    <label><input type="checkbox" value="">Volunteering with Building Bridges</label>
                                </div>
                                <div class="checkbox">
                                    <label><input type="checkbox" value="">Visit to the Ohanian Environmental Education Center</label>
                                </div>
                            </div>
                            <div class="col-sm-8 col-xs-12">
                                <div class="building-bridges-form-content-wrapper">
                                    <div>
                                        <input type="text" placeholder="First Name">
                                        <input type="text" placeholder="School">
                                        <input type="email" placeholder="Email">
                                        <input type="text" placeholder="Address">
                                    </div>
                                    <div>
                                        <input type="text" placeholder="Last Name">
                                        <input type="text" placeholder="Title">
                                        <input type="text" placeholder="Grade">
                                        <input type="text" placeholder="Phone">
                                    </div>
                                </div>
                                <textarea   rows="6" placeholder="Comments"></textarea>
                            </div>
                            <div class="text-right">
                                <input type="submit" class="submit-form-btn" value="Submit">
                            </div>
                        </div>
                    </form>
                </div>
            </section>

            <section class="community-last-section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>FEATURED CONTENT</h4>
                        </div>
                        <div class="row">

                        </div>
                    </div>
                    <div class="row">
                        {% for item in bottom %}
                        {% if item.Position == 'first' %}
                        <div class="col-md-6">
                            <div class="first-content">
                                {% elseif item.Position == 'second' %}
                                <div class="col-md-3">
                                    <div class="second-content">
                                        {% elseif item.Position == 'third' %}
                                        <div class="col-md-3">
                                            <div class="third-content">
                                                {% endif %}
                                                {% autoescape %}
                                                    <h3>{{ item.Text|raw }}</h3>
                                                {% endautoescape %}
                                                <p>{{ item.DateCreated.format('d/m/Y') }}</p>
                                                {% if item.LinkType == 'outter' %}
                                                    <button href="{{ item.Link }}"> Donate</button>
                                                {% elseif item.LinkType == 'inner' %}
                                                    <a href="{{ item.Link }}">Read More</a>
                                                {% endif %}
                                            </div>
                                        </div>
                                        {% endfor %}
                    </div>
                </div>
            </section>
        </div>




        <!--Footer Section-->

        <section class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                        <ul>
                            <li>
                                <a href="#">Glossary</a>
                            </li>

                            <li>
                                <a href="#">Contact Us</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                        <ul>
                            <li>
                                <a href="#">FAQ</a>
                            </li>
                            <li>
                                <a href="#">Privacy Policy</a>
                            </li>
                            <li>
                                <a href="#">Terms & Conditions</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12"> </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <p> <span> Armenia Tree Project </span> <br> 400 West Cummings Park <br> Suite 3900, Woburn, MA 01801 USA <br> 617-926-TREE (8733)</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                        <p class="copyright-text">&copy; Copyright 1994-2018 Armenia Tree Project, a project of Armenian Assembly of America. All Rights Reserved.</p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-right  social">
                        <p class="hashtag">#GetRooted</p>
                        <a href="#">
                            <img src="./img/facebook-logo.svg" alt="linkedin">
                        </a>
                        <a href="#">
                            <img src="./img/twitter-logo.svg" alt="facebook">
                        </a>
                        <a href="#">
                            <img src="./img/instagram-logo.svg" alt="twitter">
                        </a>
                        <a href="#">
                            <img src="./img/youtube.svg" alt="twitter">
                        </a>
                    </div>
                </div>
            </div>
        </section>


        <!-- jQuery -->
    <script src="{{ asset('js/jquery.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>

    <!-- Custom Js Files-->
    <script src="{{ asset('js/main.js') }}"></script>

{% endblock %}