{% extends 'base.html.twig' %}
{% block title %}<title>Armenia Tree Project - Be An Ambassador</title>{% endblock %}
{% block body %}

    <section class="empowering-communities-top-content secondary-pages-top-content">
        <div class="container">
            <div class="row center-aligned-row">
                <div class="col-sm-6">
                    <h1>EMPOWERING COMMUNITIES IN ARMENIA</h1>
                </div>
                <div class="col-sm-6 cover-text">
                    <p>Armenia Tree Project has reached over<br /> <span>27,500 students</span> and teachers in over <span>300<br /> schools</span> in Armenia through its classes and<br /> programs.</p>
                </div>
            </div>
        </div>
    </section>

    <div class="empowering-communities-page-content-wrapper">
        <section class="community-second">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8 col-xs-12 text-center">
                        <h4>Our Environmental Education Approach</h4>
                        <p>In Armenia, changing behavior and attitudes toward the environment begins with the School Teacher as the gateway,
                            then makes its way outside the classroom through projects that impact the entire community
                        </p>
                    </div>
                    <div class="col-lg-2"></div>
                </div>
            </div>
        </section>


        <section>
            <div class="container">
                <div class="empowering-communities-middle-content-wrapper hidden-xs">
                    <div class="first-column-content">
                        <div>
                            <img class="path-icon hidden-xs" src="./img/top-right-path.svg"  alt="">
                            <img class="path-icon visible-xs" src="./img/mobile-arrow-path.svg"  alt="">
                        </div>
                        <div class="text-center">
                            <img  src="./img/eco-clubs.png" srcset="./img/eco-clubs@2x.png 2x"  alt="">
                            <h4>Eco-Clubs and Camps</h4>
                            <p>The most serious students will give birth to Eco-Clubs that will continue launching projects in their communities</p>
                            <button>Join Melanya and start your own Eco-Club</button>
                        </div>
                        <div>
                            <img class="path-icon hidden-xs" src="./img/bottom-right-path.svg"  alt="">
                            <img class="path-icon visible-xs" src="./img/mobile-arrow-path.svg"  alt="">
                        </div>
                    </div>
                    <div class="second-column-content">
                        <div class="text-center">
                            <img  src="./img/teacher-training.png" srcset="./img/teacher-training@2x.png 2x"  alt="">
                            <h4>Teacher Training</h4>
                            <p>ATP initiated teacher training in 2005 based upon the “Plant an Idea, Plant a Tree” teacher’s manual. ATP has witnessed increasing evidence that the teacher is a major catalyst in changing attitudes and behaviors, and strengthening a community’s capacity for growth.</p>
                            <button>Download Our Teacher Manual in Armenian</button>
                        </div>
                        <div class="text-center">
                            <img  src="./img/community-strengthening.png" srcset="./img/community-strengthening@2x.png 2x"  alt="">
                            <h4>Capacity Building and Community Strengthening </h4>
                            <p>Student-led environmental projects help the school and community become more effective at achieving environmental goals.</p>
                            <button>See the Project launched in ???</button>
                        </div>
                    </div>
                    <div class="third-column-content">
                        <div>
                            <img  class="path-icon hidden-xs" src="./img/top-left-path.svg"  alt="">
                            <img class="path-icon visible-xs" src="./img/mobile-arrow-path.svg"  alt="">
                        </div>
                        <div class="text-center">
                            <img  src="./img/student-projects.png" srcset="./img/student-projects@2x.png 2x"  alt="">
                            <h4>Classes and Student Projects</h4>
                            <p>With guidance from informed and trained teachers, student groups engage in projects and research.</p>
                            <button>Learn more about our Ohanian Educational Centers</button>
                        </div>
                        <div>
                            <img class="path-icon hidden-xs" src="./img/bottom-left-path.svg"  alt="">
                            <img class="path-icon visible-xs" src="./img/mobile-arrow-path.svg"  alt="">
                        </div>
                    </div>
                </div>
                <div class="empowering-communities-middle-content-wrapper visible-xs">
                    <div class="text-center">
                        <img  src="./img/teacher-training.png" srcset="./img/teacher-training@2x.png 2x"  alt="">
                        <h4>Teacher Training</h4>
                        <p>ATP initiated teacher training in 2005 based upon the “Plant an Idea, Plant a Tree” teacher’s manual. ATP has witnessed increasing evidence that the teacher is a major catalyst in changing attitudes and behaviors, and strengthening a community’s capacity for growth.</p>
                        <button>Download Our Teacher Manual in Armenian</button>
                        <img class="path-icon" src="./img/mobile-arrow-path.svg"  alt="">
                    </div>
                    <div class="text-center">
                        <img  src="./img/student-projects.png" srcset="./img/student-projects@2x.png 2x"  alt="">
                        <h4>Classes and Student Projects</h4>
                        <p>With guidance from informed and trained teachers, student groups engage in projects and research.</p>
                        <button>Learn more about our Ohanian Educational Centers</button>
                        <img class="path-icon" src="./img/mobile-arrow-path.svg"  alt="">
                    </div>
                    <div class="text-center">
                        <img  src="./img/community-strengthening.png" srcset="./img/community-strengthening@2x.png 2x"  alt="">
                        <h4>Capacity Building and Community Strengthening </h4>
                        <p>Student-led environmental projects help the school and community become more effective at achieving environmental goals.</p>
                        <button>See the Project launched in ???</button>
                        <img class="path-icon" src="./img/mobile-arrow-path.svg"  alt="">
                    </div>
                    <div class="text-center">
                        <img  src="./img/eco-clubs.png" srcset="./img/eco-clubs@2x.png 2x"  alt="">
                        <h4>Eco-Clubs and Camps</h4>
                        <p>The most serious students will give birth to Eco-Clubs that will continue launching projects in their communities</p>
                        <button>Join Melanya and start your own Eco-Club</button>
                    </div>
                </div>
            </div>
        </section>



        <section class="community-last-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h4>FEATURED CONTENT</h4>
                    </div>
                    <div class="row">

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="ambassador-first-content">
                            <h3>Crowdsourcing Independence: Increasing ATP’s <br /> Tree Yield while Creating Income for Villagers</h3>
                            <p>27 JUL 2018</p>
                            <a href="#">Read More</a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="second-content">
                            <h3>ATP Pays Tribute to the Inspirational Life and Grassroots Work of Fr. Dajad Davidian</h3>
                            <p>20 JUL 2018</p>
                            <a href="#">Read More</a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="third-content">
                            <h3>Call for Annual Tree Planting in Goris</h3>
                            <p>18 JUL 2018</p>
                            <button href="#"> Donate</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>




    <!--Footer Section-->

    <section class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                    <ul>
                        <li>
                            <a href="#">Glossary</a>
                        </li>
                        <li>
                            <a href="#">About Us</a>
                        </li>
                        <li>
                            <a href="#">Contact Us</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                    <ul>
                        <li>
                            <a href="#">FAQ</a>
                        </li>
                        <li>
                            <a href="#">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="#">Terms & Conditions</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12"> </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <p> <span> Armenia Tree Project </span> <br> 400 West Cummings Park <br> Suite 3900, Woburn, MA 01801 USA <br> 617-926-TREE (8733)</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                    <p class="copyright-text">&copy; Copyright 1994-2018 Armenia Tree Project, a project of Armenian Assembly of America. All Rights Reserved.</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-right  social">
                    <p class="hashtag">#GetRooted</p>
                    <a href="#">
                        <img src="./img/facebook-logo.svg" alt="linkedin">
                    </a>
                    <a href="#">
                        <img src="./img/twitter-logo.svg" alt="facebook">
                    </a>
                    <a href="#">
                        <img src="./img/instagram-logo.svg" alt="twitter">
                    </a>
                    <a href="#">
                        <img src="./img/youtube.svg" alt="twitter">
                    </a>
                </div>
            </div>
        </div>
    </section>


    <!-- jQuery -->
    <script src="{{ asset('js/jquery.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>


    <!-- Custom Js Files-->
    <script src="{{ asset('js/main.js') }}"></script>





    </body>
    </html>
    {#<hr>#}
    {#<table>#}
    {#{% for object in pager.currentPageResults %}#}
    {#<tr>#}
    {#<td>{{ object.Title }}</td>#}
    {#<td>{{ object.Text }}</td>#}
    {#</tr>#}
    {#{% endfor %}#}
    {#</table>#}

    {#{% if pager.haveToPaginate %}#}
    {#{{ pagerfanta(pager) }}#}
    {#{% endif %}#}
    {#<hr>#}
{% endblock %}