{% extends 'base.html.twig' %}

{#{{ path('welcome') }}#}
{% block body %}
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#top">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse" id="menu-center">
                <ul class="nav navbar-nav navbar-left">
                    <li class="dropdown">
                        <a id="our_work" class="page-scroll" href="#"  data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" >Our Work</a>
                        <ul class="dropdown-menu" aria-labelledby="our_work">
                            <li>
                                <a href="#">Tree Propagation</a>
                            </li>
                            <li>
                                <a href="community.html">Community Planting</a>
                            </li>
                            <li>
                                <a href="#">Forestation</a>
                            </li>
                            <li>
                                <a href="backyard-nurseries.html">Economic Empowerment</a>
                            </li>
                            <li>
                                <a href="#">Education & Awareness</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="page-scroll" data-target=".navbar-collapse" href="#">Where We Are</a>
                    </li>
                    <li class="dropdown">
                        <a id="getInvolved" class="page-scroll" href="#"  data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" >Get Involved</a>
                        <ul class="dropdown-menu" aria-labelledby="getInvolved">
                            <li>
                                <a href="#">Donate</a>
                            </li>
                            <li>
                                <a href="#">Volunteer</a>
                            </li>
                            <li>
                                <a href="#">Subscribe</a>
                            </li>
                            <li>
                                <a href="#">Tour</a>
                            </li>
                            <li>
                                <a href="#">Plant</a>
                            </li>
                            <li>
                                <a href="#">Join/Attend</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="page-scroll" data-target=".navbar-collapse" href="impact.html">Our Impact</a>
                    </li>
                    <li class="dropdown">
                        <a id="kids_family" class="page-scroll" href="#"  data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" >Kids & Family</a>
                        <ul class="dropdown-menu" aria-labelledby="kids_family">
                            <li>
                                <a href="#">Building Bridges</a>
                            </li>
                            <li>
                                <a href="#">Summer Camp in Armenia</a>
                            </li>
                            <li>
                                <a href="#">Tchalo</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="page-scroll" data-target=".navbar-collapse" href="news.html">News</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-left right">
                    <li class="search-button-wrapper">
                        <form>
                            <input class="search-input" type="text" placeholder="Search.." name="search">
                            <button class="search-button"></button>
                        </form>
                    </li>
                    <li class="button-wrapper">
                        <button class="donate-btn"> Donate</button>
                    </li>
                    <li class="dropdown language-selector-dropdown">
                        <a id="language_selector" class="page-scroll" href="#" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">EN</a>
                        <img class="carret-icon" src="./img/arrow-right-white.svg" alt="">
                        <ul class="dropdown-menu" aria-labelledby="language_selector">
                            <li>
                                <a href="#">ՀԱՅ</a>
                            </li>
                            <li>
                                <a href="#">РУС</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


    <!--Top Section-->

    <section id="top" class="top-section">
        <div class="slider-wrapper">
            <div class="single-slide-one">
                <div class="container">
                    <h1>A YEAR OF GROWTH <br> AND A YEAR OF PLANTING</h1>
                    <p> The past year was filled with innovations and further growth of our core program. <br>
                        In terms of growth, we developed 53 new Community Tree Planting Sites.</p>
                </div>
            </div>
            <div class="single-slide-two">
                <div class="container">
                    <h1>A YEAR OF GROWTH <br> AND A YEAR OF PLANTING</h1>
                    <p> The past year was filled with innovations and further growth of our core program. <br>
                        In terms of growth, we developed 53 new Community Tree Planting Sites.</p>
                </div>
            </div>
            <div class="single-slide-three">
                <div class="container">
                    <h1>A YEAR OF GROWTH <br> AND A YEAR OF PLANTING</h1>
                    <p> The past year was filled with innovations and further growth of our core program. <br>
                        In terms of growth, we developed 53 new Community Tree Planting Sites.</p>
                </div>
            </div>
            <div class="single-slide-fourth">
                <div class="container">
                    <h1>A YEAR OF GROWTH <br> AND A YEAR OF PLANTING</h1>
                    <p> The past year was filled with innovations and further growth of our core program. <br>
                        In terms of growth, we developed 53 new Community Tree Planting Sites.</p>
                </div>
            </div>
            <!--<div class="row labels"> -->
            <!--<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 priciples"> -->
            <!--<h4>Sustain</h4>-->
            <!--<p>The indigenous ecosystem <br> of Armenia. </p>-->
            <!--</div>-->
            <!--<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 priciples"> -->
            <!--<h4>Empower</h4>-->
            <!--<p>Village families to achieve <br> economic independence. </p>-->
            <!--</div>-->
            <!--<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 priciples"> -->
            <!--<h4>Teach</h4>-->
            <!--<p>The role citizens play in ensuring  environmental protection. </p>-->
            <!--</div>-->
            <!--</div>-->
        </div>
    </section>

    <div class="work-and-news-wrapper">
        <!--Our Work Section-->

        <section id="ourwork" class="our-work">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                        <h3>Our Work</h3>
                        <p>The past year was filled with innovations and further growth of our core program. <br>
                            In terms of growth, we developed 53 new Community Tree Planting Sites.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12"> </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 text-center">
                        <div class="single item-one"> </div>
                        <h4>Tree Propagation</h4>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 text-center">
                        <div class="single item-three"> </div>
                        <h4>Forestation</h4>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 text-center">
                        <div class="single item-two"> </div>
                        <h4>Community Planting</h4>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 text-center">
                        <div class="single item-four"> </div>
                        <h4>Economic Empowerment</h4>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 text-center">
                        <div class="single item-five"> </div>
                        <h4>Education & Awareness</h4>
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12"> </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                        <p>The past year was filled with innovations and further growth of our core program. <br>
                            In terms of growth, we developed 53 new Community Tree Planting Sites. </p>
                    </div>
                </div>
            </div>
        </section>


        <!--News & Article Section-->

        <section id="news" class="news-section">
            <div class="container">
                <div class="grid-container">
                    <div class="grid-item">
                        <div class="single-grid-content">
                            <h3>How are Forests and Water<br/> Security Connected</h3>
                            <p>27 JUL 2018</p>
                            <a target="_blank" href="https://www.armeniatree.org/en/ATPNews/20180611.asp">Read More</a>
                        </div>
                    </div>
                    <div class="grid-item">
                        <div class="single-grid-content">
                            <h3>Prevent Forest Fires</h3>
                            <p>20 JUL 2018</p>
                            <a target="_blank" href="https://www.armeniatree.org/en/ATPNews/20180816.asp">Read More</a>
                        </div>
                    </div>
                    <div class="grid-item">
                        <div class="single-grid-content">
                            <h3>Donate to the ATP <br> Annual Appeal Today</h3>
                            <button href="#"> Donate</button>
                        </div>
                    </div>
                    <div class="grid-item">
                        <div class="single-grid-content">
                            <h3>Visit ATP in Armenia</h3>
                            <button href="#"> Donate</button>
                        </div>
                    </div>
                    <div class="grid-item">
                        <div class="single-grid-content">
                            <h3>ATP Pays Tribute to the <br> Inspirational Life and <br> Grassroots Work of Fr.<br> Dajad Davidian</h3>
                            <p>18 JUL 2018</p>
                            <a href="#">Read More</a>
                        </div>
                    </div>
                    <div class="grid-item">
                        <div class="single-grid-content">
                            <h3>ATP Supports Smithsonian Folklife <br> Festival and Raises Awareness about Its <br> Mission during Several Events</h3>
                            <a  data-toggle="modal" data-target="#about_atp_video"><img class="play-button" src="./img/play_btn.svg" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="about_atp_video" tabindex="-1" role="dialog" aria-labelledby="about_atp_video"
                     aria-hidden="true">
                    <div class="modal-dialogg">
                        <div class="modal-contentt">
                            <div class="modal-body">
                                <button style="color: #ffffff; opacity: 1;" type="button" class="close" data-dismiss="modal"
                                        aria-hidden="true">&times;</button>
                                <div class="video-container">
                                    <iframe width="560" height="315" src="https://www.youtube.com/embed/xaU67YlZZR8" frameborder="0"  allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>



    <!-- Events Section-->

    <section id="events" class="events-screen">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="row event-item-one">
                        <h4> August 20 <span>| 10:30 AM </span> </h4>
                        <h3> International Tree Planting Day </h3>
                        <p>ATP is organizing annual tree planting day. On that day volunteers <br> from all over the will be planting over 20 trees.</p>
                        <h6>San Francisco, USA</h6>
                    </div>
                    <div class="row event-item-two">
                        <h4>August 22  <span>| 12:45 AM </span> </h4>
                        <h3> Harvesting in the Ararat Valley </h3>
                        <h6>Ararat, Armenia</h6>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-center review tree slick-slide slick-cloned" data-slick-index="-3" aria-hidden="true" tabindex="-1">
                    <div class="calendar"></div>
                </div>
            </div>
        </div>
    </section>

    <!--Footer Section-->

    <section class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                    <ul>
                        <li>
                            <a href="#">Careers</a>
                        </li>
                        <li>
                            <a href="#">About</a>
                        </li>
                        <li>
                            <a href="#">Contacts</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                    <ul>
                        <li>
                            <a href="#">FAQ</a>
                        </li>
                        <li>
                            <a href="#">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="#">Terms & Conditions</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12"> </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <p> <span> Armenia Tree Project </span> <br> 400 West Cummings Park <br> Suite 3900, Woburn, MA 01801 USA <br> 617-926-TREE (8733)</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                    <p class="copyright-text">&copy; Copyright 1994-2018 Armenia Tree Project, a project of Armenian Assembly of America. All Rights Reserved.</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-right  social">
                    <p class="hashtag">#GetRooted</p>
                    <a href="#">
                        <img src="./img/facebook-logo.svg" alt="linkedin">
                    </a>
                    <a href="#">
                        <img src="./img/twitter-logo.svg" alt="facebook">
                    </a>
                    <a href="#">
                        <img src="./img/instagram-logo.svg" alt="twitter">
                    </a>
                    <a href="#">
                        <img src="./img/youtube.svg" alt="twitter">
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- jQuery -->
    <script src="{{ asset('js/jquery.js') }}"></script>

    <!-- Moment -->
    <script src="{{ asset('js/moment.shim.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>

    <!-- Slick Slider -->
    <script src="{{ asset('js/slick.min.js') }}"></script>

    <!-- Slick custom functionality -->
    <script src="{{ asset('js/sliderFunctionality.js') }}"></script>

    <!-- Custom Js Files-->
    <script src="{{ asset('js/main.js') }}"></script>


    <!-- Calendar -->
    <script src="{{ asset('js/pignose.calendar.js') }}"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script> -->



    <script>
        $(function() {
            $('.calendar').pignoseCalendar();
        });
    </script>

{% endblock %}