{% extends 'base.html.twig' %}
{% block title %}<title>Armenia Tree Project - Backyard nurseries</title>{% endblock %}

{% block body %}

    <section class="our-team secondary-pages-top-content" style="background:url('uploads/images/{{ top.Image }}') no-repeat; background-size:cover; background-position: 0;">
        <div class="container">
            <div class="row center-aligned-row">
                <div class="col-sm-6">
                    {% autoescape %}
                        <h1>{{ top.Title|raw }}</h1>
                    {% endautoescape %}
                </div>
                <div class="col-sm-6 cover-text">
                    {% autoescape %}
                        <p>{{ top.Text|raw }}</p>
                    {% endautoescape %}
                </div>
            </div>
        </div>
    </section>

    <div class="our-team-main-content-wrapper">

        <section class="community-second">
            <div class="container">
                <div class="row center-aligned-row">
                    <div class="col-md-6 col-xs-12">
                        {% autoescape %}{{ main.Text|raw }}{% endautoescape %}
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <img src="uploads/images/{{ main.Image }}" srcset="./img/our-team-photo@2x.png 2x" alt="">
                    </div>
                </div>
            </div>
        </section>

        {% set total = 0 %}

        {% for item in branches %}
            {% if item.Type == 'atp' %}
                <section class="boston-team-wrapper team-images-wrapper">
                    <div class="container">
                        {% autoescape %}<h3>{{ item.Text|raw }}</h3>{% endautoescape %}
                        <div class="row">
                            {% for elem in members %}
                                {% if elem.branchId == item.id %}
                                    <div class="col-sm-4 col-xs-12 text-center">
                                        <img src="uploads/images/{{ elem.Image }}" srcset="./img/papelian_jeanmarie_sm@2x.png 2x" alt="">
                                        {% autoescape %}<h4>{{ elem.Name|raw }}</h4>{% endautoescape %}
                                        {% autoescape %}<p>{{ elem.Position|raw }}</p>{% endautoescape %}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </section>
            {% elseif item.Type == 'nursery' %}
                {% if total == 0 %}
                    </div>
                    {% set total = 1 %}
                {% endif %}
                <section class="nurseries-team-wrapper odd-section">
                    <div class="container">
                        <div class="row">
                            {% autoescape %}<h3>{{ item.Text|raw }}</h3>{% endautoescape %}
                            {% set first = 0 %}
                            <div class="col-sm-12 col-xs-12">
                                {% for elem in members %}
                                    {% if elem.branchId == item.id %}
                                            {% if first == 0 %}
                                                {% autoescape %}<h4>{{ elem.Name|raw }}</h4>{% endautoescape %}
                                                {% set first = 1 %}
                                            {% else %}
                                                {% autoescape %}<p>{{ elem.Name|raw }}</p>{% endautoescape %}
                                            {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </section>
            {% endif %}
        {% endfor %}


    <!--Footer Section-->

    <section class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                    <ul>
                        <li>
                            <a href="#">Glossary</a>
                        </li>

                        <li>
                            <a href="#">Contact Us</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                    <ul>
                        <li>
                            <a href="#">FAQ</a>
                        </li>
                        <li>
                            <a href="#">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="#">Terms & Conditions</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12"> </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <p> <span> Armenia Tree Project </span> <br> 400 West Cummings Park <br> Suite 3900, Woburn, MA 01801 USA <br> 617-926-TREE (8733)</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                    <p class="copyright-text">&copy; Copyright 1994-2018 Armenia Tree Project, a project of Armenian Assembly of America. All Rights Reserved.</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-right  social">
                    <p class="hashtag">#GetRooted</p>
                    <a href="#">
                        <img src="./img/facebook-logo.svg" alt="linkedin">
                    </a>
                    <a href="#">
                        <img src="./img/twitter-logo.svg" alt="facebook">
                    </a>
                    <a href="#">
                        <img src="./img/instagram-logo.svg" alt="twitter">
                    </a>
                    <a href="#">
                        <img src="./img/youtube.svg" alt="twitter">
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- jQuery -->
    <script src="{{ asset('js/jquery.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>

    <!-- Custom Js Files-->
    <script src="{{ asset('js/main.js') }}"></script>

{% endblock %}

