{% extends 'base.html.twig' %}
{% block title %}<title>Armenia Tree Project - Tour and Plant</title>{% endblock %}
{% block body %}




    <section class="payment-info-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-8 col-xs-12">
                    <h1>Payment Information</h1>
                    <form action="">
                        <div class="top-inputs-wrapper">
                            <div>
                                <label>ACCOUNT NUMBER</label><br />
                                <input type="text" >
                            </div>
                            <div>
                                <label>ACCOUNT HOLDER</label><br />
                                <input type="text">
                            </div>
                        </div>
                        <div class="bottom-inputs-wrapper">
                            <div>
                                <label>EXPIRY DATE</label><br />
                                <select name="month" id="month_selector">
                                    <option value="" selected disabled>Month</option>
                                </select>
                                <select name="year" id="year_selector">
                                    <option value="" selected disabled>Year</option>
                                </select>
                            </div>
                            <div>
                                <label>CVV/CSV</label><br />
                                <input type="text">
                            </div>
                        </div>
                        <div class="text-center">
                            <a href="">
                                <button>Donate Now</button>
                            </a>
                        </div>
                    </form>
                </div>
                <div class="col-sm-2"></div>
            </div>
        </div>
    </section>


    <!--Footer Section-->

    <section class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                    <ul>
                        <li>
                            <a href="#">Glossary</a>
                        </li>

                        <li>
                            <a href="#">Contact Us</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                    <ul>
                        <li>
                            <a href="#">FAQ</a>
                        </li>
                        <li>
                            <a href="#">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="#">Terms & Conditions</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12"> </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <p> <span> Armenia Tree Project </span> <br> 400 West Cummings Park <br> Suite 3900, Woburn, MA 01801 USA <br> 617-926-TREE (8733)</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                    <p class="copyright-text">&copy; Copyright 1994-2018 Armenia Tree Project, a project of Armenian Assembly of America. All Rights Reserved.</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-right  social">
                    <p class="hashtag">#GetRooted</p>
                    <a href="#">
                        <img src="./img/facebook-logo.svg" alt="linkedin">
                    </a>
                    <a href="#">
                        <img src="./img/twitter-logo.svg" alt="facebook">
                    </a>
                    <a href="#">
                        <img src="./img/instagram-logo.svg" alt="twitter">
                    </a>
                    <a href="#">
                        <img src="./img/youtube.svg" alt="twitter">
                    </a>
                </div>
            </div>
        </div>
    </section>


    <!-- jQuery -->
    <script src="{{ asset('js/jquery.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>


    <!-- Custom Js Files-->
    <script src="{{ asset('js/main.js') }}"></script>





    </body>
    </html>
    {#<hr>#}
    {#<table>#}
    {#{% for object in pager.currentPageResults %}#}
    {#<tr>#}
    {#<td>{{ object.Title }}</td>#}
    {#<td>{{ object.Text }}</td>#}
    {#</tr>#}
    {#{% endfor %}#}
    {#</table>#}

    {#{% if pager.haveToPaginate %}#}
    {#{{ pagerfanta(pager) }}#}
    {#{% endif %}#}
    {#<hr>#}
{% endblock %}