{% extends 'base.html.twig' %}
{% block title %}<title>Armenia Tree Project - Single News</title>{% endblock %}
{% block body %}
    <!-- Load Facebook SDK for JavaScript -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.1&appId=2050363658524161&autoLogAppEvents=1';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

    <!--Twitter Share SDK-->
    <script>
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
    </script>

    <!--Linkedin Share SDK-->
    <script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>


    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse" id="menu-center">
                <ul class="nav navbar-nav navbar-left">
                    <li class="dropdown">
                        <a id="our_work" class="page-scroll" href="#" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">Our Work</a>
                        <ul class="dropdown-menu" aria-labelledby="our_work">
                            <li>
                                <a href="#">Tree Propagation</a>
                            </li>
                            <li>
                                <a href="community.html">Community Planting</a>
                            </li>
                            <li>
                                <a href="#">Forestation</a>
                            </li>
                            <li>
                                <a href="backyard-nurseries.html">Economic Empowerment</a>
                            </li>
                            <li>
                                <a href="#">Education & Awareness</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="page-scroll" data-target=".navbar-collapse" href="#">Where We Are</a>
                    </li>
                    <li class="dropdown">
                        <a id="getInvolved" class="page-scroll" href="#" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">Get Involved</a>
                        <ul class="dropdown-menu" aria-labelledby="getInvolved">
                            <li>
                                <a href="#">Donate</a>
                            </li>
                            <li>
                                <a href="#">Volunteer</a>
                            </li>
                            <li>
                                <a href="#">Subscribe</a>
                            </li>
                            <li>
                                <a href="#">Tour</a>
                            </li>
                            <li>
                                <a href="#">Plant</a>
                            </li>
                            <li>
                                <a href="#">Join/Attend</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="page-scroll" data-target=".navbar-collapse" href="impact.html">Our Impact</a>
                    </li>
                    <li class="dropdown">
                        <a id="kids_family" class="page-scroll" href="#" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">Kids & Family</a>
                        <ul class="dropdown-menu" aria-labelledby="kids_family">
                            <li>
                                <a href="#">Building Bridges</a>
                            </li>
                            <li>
                                <a href="#">Summer Camp in Armenia</a>
                            </li>
                            <li>
                                <a href="#">Tchalo</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="page-scroll" data-target=".navbar-collapse" href="news.html">News</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-left right">
                    <li class="search-button-wrapper">
                        <form>
                            <input class="search-input" type="text" placeholder="Search.." name="search">
                            <button class="search-button"></button>
                        </form>
                    </li>
                    <li class="button-wrapper">
                        <button class="donate-btn"> Donate</button>
                    </li>
                    <li class="dropdown language-selector-dropdown">
                        <a id="language_selector" class="page-scroll" href="#" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">EN</a>
                        <img class="carret-icon" src="./img/arrow-right.svg" alt="">
                        <ul class="dropdown-menu" aria-labelledby="language_selector">
                            <li>
                                <a href="#">ՀԱՅ</a>
                            </li>
                            <li>
                                <a href="#">РУС</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


    <!--Single News-->

    <section class="single-news-page">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-xs-12">
                    <div class="share-buttons-wrapper">
                        <!-- Facebook Like button-->
                        <div class="fb-like"
                             data-layout="button"
                             data-action="like"
                             data-size="small"
                             data-show-faces="false"
                             data-share="true">
                        </div>
                        <!-- Twitter Share Button-->
                        <a href="https://twitter.com/share" class="twitter-share-button"  data-count="vertical">Tweet</a>
                        <!-- Google Share Button-->
                        <div class="g-plus" data-action="share"></div>
                        <!-- Linkedin Share Button-->
                        <script type="IN/Share"></script>
                    </div>
                    <p class="news-date">{{ news.DateCreated.format('d/m/Y') }}</p>
                    <h5>{{ news.Title }}</h5>
                    <p>{{ news.Text }}</p>
                    {% for item in texts %}
                        <h6>{{ item.Title }}</h6>
                        <p>{{ item.Text }}</p>
                    {% endfor %}
                </div>
                <div class="col-lg-6 col-xs-12">
                    {% for item in images %}
                        <img src="../uploads/images/news/{{ item.Image }}" class="img-rounded"/>
                    {% endfor %}
                </div>
            </div>

        </div>
    </section>

    <!--Footer Section-->

    <section class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                    <ul>
                        <li>
                            <a href="#">Careers</a>
                        </li>
                        <li>
                            <a href="#">About</a>
                        </li>
                        <li>
                            <a href="#">Contacts</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                    <ul>
                        <li>
                            <a href="#">FAQ</a>
                        </li>
                        <li>
                            <a href="#">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="#">Terms & Conditions</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12"></div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <p><span> Armenia Tree Project </span> <br> 400 West Cummings Park <br> Suite 3900, Woburn, MA 01801 USA
                        <br> 617-926-TREE (8733)</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                    <p class="copyright-text">&copy; Copyright 1994-2018 Armenia Tree Project, a project of Armenian
                        Assembly of America. All Rights Reserved.</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-right  social">
                    <p class="hashtag">#GetRooted</p>
                    <a href="#">
                        <img src="./img/facebook-logo.svg" alt="linkedin">
                    </a>
                    <a href="#">
                        <img src="./img/twitter-logo.svg" alt="facebook">
                    </a>
                    <a href="#">
                        <img src="./img/instagram-logo.svg" alt="twitter">
                    </a>
                    <a href="#">
                        <img src="./img/youtube.svg" alt="twitter">
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- jQuery -->
    <script src="{{ asset('js/jquery.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>

    <!-- Custom Js Files-->
    <script src="{{ asset('js/main.js') }}"></script>

{% endblock %}