{% extends 'base.html.twig' %}
{% block title %}<title>Armenia Tree Project - Single News</title>{% endblock %}

{% block body %}

    <!-- Load Facebook SDK for JavaScript -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.1&appId=2050363658524161&autoLogAppEvents=1';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

    <!--Twitter Share SDK-->
    <script>
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
    </script>

    <!--Linkedin Share SDK-->
    <script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>


    <!--Single News-->

    <section class="single-news-page">
        <div class="container">
            <div class="single-news-content-wrapper">
                <div class="news-right-column">
                    <div class="share-buttons-wrapper">
                        <!-- Facebook Like button-->
                        <div class="fb-like"
                             data-layout="button"
                             data-action="like"
                             data-size="small"
                             data-show-faces="false"
                             data-share="true">
                        </div>
                        <!-- Twitter Share Button-->
                        <a href="https://twitter.com/share" class="twitter-share-button"  data-count="vertical">Tweet</a>
                        <!-- Google Share Button-->
                        <div class="g-plus" data-action="share"></div>
                        <!-- Linkedin Share Button-->
                        <script type="IN/Share"></script>
                    </div>
                    <p class="news-date">{{ news.DateCreated.format('d/m/Y') }}</p>
                    <h5>{{ news.Title }}</h5>
                    <p>{{ news.Text }}</p>
                    <img src="uploads/images/{{ news.Image }}" class="img-rounded"/>
                    <p>{{ news.Caption }}</p>
                </div>
                <div class="news-left-column">
                    {% for item in texts %}
                        <h6>{{ item.Title }}</h6>
                        <p>{{ item.Text }}</p>
                    {% endfor %}
                    {% for item in images %}
                        <img src="uploads/images/{{ item.Image }}" class="img-rounded"/>
                        <p class="image-caption">{{ item.Caption }}</p>
                    {% endfor %}
                </div>
            </div>

        </div>
    </section>

    <!--Footer Section-->

    <section class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                    <ul>
                        <li>
                            <a href="#">Glossary</a>
                        </li>

                        <li>
                            <a href="#">Contact Us</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                    <ul>
                        <li>
                            <a href="#">FAQ</a>
                        </li>
                        <li>
                            <a href="#">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="#">Terms & Conditions</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12"></div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <p><span> Armenia Tree Project </span> <br> 400 West Cummings Park <br> Suite 3900, Woburn, MA 01801 USA
                        <br> 617-926-TREE (8733)</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                    <p class="copyright-text">&copy; Copyright 1994-2018 Armenia Tree Project, a project of Armenian
                        Assembly of America. All Rights Reserved.</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-right  social">
                    <p class="hashtag">#GetRooted</p>
                    <a href="#">
                        <img src="./img/facebook-logo.svg" alt="linkedin">
                    </a>
                    <a href="#">
                        <img src="./img/twitter-logo.svg" alt="facebook">
                    </a>
                    <a href="#">
                        <img src="./img/instagram-logo.svg" alt="twitter">
                    </a>
                    <a href="#">
                        <img src="./img/youtube.svg" alt="twitter">
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- jQuery -->
    <script src="{{ asset('js/jquery.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>

    <!-- Custom Js Files-->
    <script src="{{ asset('js/main.js') }}"></script>

{% endblock %}