{% extends 'base.html.twig' %}
{% block title %}<title>Armenia Tree Project - Fruit harvesting</title>{% endblock %}

{% block body %}

    <section class="fruit-harvesting secondary-pages-top-content village-and-city-greening">
        <div class="container">
            <div class="row center-aligned-row">
                <div class="col-sm-6">
                    <h1>VILLAGE & CITY <br />GREENING</h1>
                </div>
                <div class="col-sm-6 cover-text">
                    <p>ATP has greened <span>367</span> villages and cities in <br /> Armenia and plants more than <span>50,000</span> trees<br /> and shrubs in rural and urban areas each<br /> year. </p>
                </div>
            </div>
        </div>
    </section>

    <div class="fruit-harvesting-main-content-wrapper">
        <section class="community-second">
            <div class="container">
                <div class="row center-aligned-row">
                    <div class="col-md-6">
                        <img src="./img/vilage-article-one.jpg"  alt="">
                    </div>
                    <div class="col-md-6">
                        <p>One of our biggest concerns for the security of Armenia is the wellbeing and prosperity of its village communities, especially those situated near or on the borders. ATP has targeted the most vulnerable communities with the most need for greenery. The focus and attention that is given to these areas not only helps our trees to grow and flourish but also creates a stronger bond between the inhabitants and the land they live on. </p>
                        <p>Major greening sites are typically public parks, schools, kindergartens, cultural centers, military bases, churches, historical monuments and other significant landmarks. Groves.</p>
                    </div>
                </div>
                <div class="row center-aligned-row">
                    <div class="col-md-6">
                        <p>It is vital to have green areas in cities to protect people against pollutants and dust, and to provide shade and lower temperatures caused by hot summers, traffic, concrete heat and greenhouse gases. </p>
                        <p>ATP has planting sites throughout Armenia’s capital, Yerevan, as well as in other major cities. Our trees are not only saving lives by cleaning the air we breathe of carbon dioxide but they’re also a major part of the beauty of Yerevan. </p>
                    </div>
                    <div class="col-md-6">
                        <img src="./img/vilage-article-two.jpg"  alt="">
                    </div>
                </div>
            </div>
        </section>

        <!--Planting Model Section-->


        <section class="fruit-harvest-in-school-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h4>CITY GREENING, MALATIA SEBASTIA</h4>
                    </div>
                </div>

                <div class="before-after-slider-wrapper">
                    <div class="info-content">
                        <h5>Background</h5>
                        <p>Founded in 1925 by Western Armenian Genocide Survivors from the historic city of Sebastia, Malatia Sebastia, often referred to as Bangladesh, is located in the western part of Yerevan. It is one of the most densely populated residential districts of Yerevan, which supports two large markets for agricultural products and clothing. Malatia Sebastia’s key landmark is the immense circular Holy Trinity church, built in 2003 to commemorate the seventh-century cathedral of Zvartnots.</p>
                        <h5>The Need </h5>
                        <p>During Soviet times, trees had been planted along the main road leading from Horom to Gyumri to protect the villagers’ fields from traffic and grazing animals. In the 90’s, the trees were cut to stump-level for firewood but new shoots grew from those stumps. These stumps grew too close together, causing the trees to suffer as they competed for sunlight. There was a need to manage healthier growth of the trees as well as maintain the beauty of the road.</p>
                    </div>
                    <div class="before-after-slider">
                        <div class="twentytwenty-container">
                            <!-- The before image is first -->
                            <img src="/img/malatia-before.jpg" />
                            <!-- The after image is last -->
                            <img src="/img/malatia-after.jpg" />
                        </div>
                        <div class="twentytwenty-container">
                            <!-- The before image is first -->
                            <img src="/img/malatia-before.jpg" />
                            <!-- The after image is last -->
                            <img src="/img/malatia-after.jpg" />
                        </div>
                    </div>
                </div>

                <div class="before-after-slider-wrapper">
                    <div class="before-after-slider">
                        <div class="twentytwenty-container">
                            <!-- The before image is first -->
                            <img src="/img/malatia-before.jpg" />
                            <!-- The after image is last -->
                            <img src="/img/malatia-after.jpg" />
                        </div>
                        <div class="twentytwenty-container">
                            <!-- The before image is first -->
                            <img src="/img/malatia-before.jpg" />
                            <!-- The after image is last -->
                            <img src="/img/malatia-after.jpg" />
                        </div>
                    </div>
                    <div class="info-content">
                        <h6 class="before-label">BEFORE</h6>
                        <h6 class="after-label">AFTER</h6>
                        <h5>The Solution</h5>
                        <p>ATP began working with the district administration to provide trees to the community as early as 1999.  The most popular sites that have ATP trees include St. Zoravar Andranik park, the Holy Trinity church park, Love and Faith park, Youth park, Maternity park, Avedisian school, School N. 190 and many others. There are six parks in Malatia district which have been greened with the help of ATP in cooperation with the district administration. </p>
                        <h5>The Outcome</h5>
                        <p>Malatia Sebastia has been transformed into a green zone with the greenest parks in Armenia. One of the most loved parks is named after General Andranik, and a statue of him and his army of trees welcome all visitors who enjoy playing backgammon in the shade and strolling with their grandchildren. </p>
                    </div>
                </div>


                <div class="before-after-labels-wrapper">
                    <div class="second-labels-wrapper">
                        <div class="text-center">
                            <h6 class="before-label">BEFORE</h6>
                        </div>
                        <div class="text-center">
                            <h6 class="after-label">AFTER</h6>
                        </div>
                    </div>
                    <div>

                    </div>
                </div>
            </div>
        </section>

        <section class="analytics-content-wrapper">
            <div class="container">
                <div class="single-analytics-content-wrapper">
                    <div class="single-analytics">
                        <img src="./img/tree-silhouette.svg" alt="">
                        <div>
                            <h5>82,665</h5>
                            <p>TREES PLANTED</p>
                        </div>
                    </div>
                    <div class="single-analytics">
                        <img src="./img/fields.svg" alt="">
                        <div>
                            <h5>53%</h5>
                            <p>SURVIVAL RATE</p>
                        </div>
                    </div>
                    <div class="single-analytics">
                        <img src="./img/peach.svg" alt="">
                        <div>
                            <h5>6</h5>
                            <p>PARKS GREENED</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="fruit-harvest-in-school-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h4>VILLAGE GREENING IN AYGEPAR, TAVUSH</h4>
                    </div>
                </div>

                <div class="before-after-slider-wrapper">
                    <div class="info-content">
                        <h5>Background</h5>
                        <p>Irind (meaning “beautiful” in Persian) in the Aragatsotn region remains as colorful and beautiful as ever. Located only 30 km from the Turkish border, Irind Village was founded in 1920 by several families from Western Armenia. All of them fled the Armenian Genocide, leaving behind their homes in Mush and Sasun. The economy is mainly animal farming and horticulture, as well as beekeeping.</p>
                        <h5>The Need </h5>
                        <p>Barsegh, if during Soviet times people had thought of planting more trees in the region, then the community would have even thicker forests today than those of Dilijan and Lori. ATP saw the need to fill in that gap.</p>
                    </div>
                    <div class="before-after-slider">
                        <div class="twentytwenty-container">
                            <!-- The before image is first -->
                            <img src="/img/malatia-before.jpg" />
                            <!-- The after image is last -->
                            <img src="/img/malatia-after.jpg" />
                        </div>
                        <div class="twentytwenty-container">
                            <!-- The before image is first -->
                            <img src="/img/malatia-before.jpg" />
                            <!-- The after image is last -->
                            <img src="/img/malatia-after.jpg" />
                        </div>
                    </div>
                </div>

                <div class="before-after-slider-wrapper">
                    <div class="before-after-slider">
                        <div class="twentytwenty-container">
                            <!-- The before image is first -->
                            <img src="/img/malatia-before.jpg" />
                            <!-- The after image is last -->
                            <img src="/img/malatia-after.jpg" />
                        </div>
                        <div class="twentytwenty-container">
                            <!-- The before image is first -->
                            <img src="/img/malatia-before.jpg" />
                            <!-- The after image is last -->
                            <img src="/img/malatia-after.jpg" />
                        </div>
                    </div>
                    <div class="info-content">
                        <h6 class="before-label">BEFORE</h6>
                        <h6 class="after-label">AFTER</h6>
                        <h5>The Solution</h5>
                        <p>With the support of Davide D’Ambrosi and Luxury Properties Europe in 2011, ATP distributed 10 fruit trees to each of the 1000 households in the village. These included apple, pear, and plum trees. ATP also partnered with the village to establish a small community forest in 2016. Some of the trees planted there include ash, maple, oak, wild pear, and apple. ATP provided Irind village with a total of 5,297 trees since 2007, including 3,385 fruit trees!</p>
                        <h5>The Outcome</h5>
                        <p>The trees in Irind have a high, long-term survival rate of 75 percent. All the households have access to a fresh, healthy food source. They have enjoyed an abundance of various fruits since they began harvesting — over 17,408 kilograms / 38,378 pounds. Some families dry the fruit, some keep them in bunkers and consume them in the winter months, and others sell them. Many are able to do all of it! </p>
                    </div>
                </div>


                <div class="before-after-labels-wrapper">
                    <div class="second-labels-wrapper">
                        <div class="text-center">
                            <h6 class="before-label">BEFORE</h6>
                        </div>
                        <div class="text-center">
                            <h6 class="after-label">AFTER</h6>
                        </div>
                    </div>
                    <div>

                    </div>
                </div>
            </div>
        </section>

        <section class="analytics-content-wrapper">
            <div class="container">
                <div class="single-analytics-content-wrapper">
                    <div class="single-analytics">
                        <img src="./img/tree-silhouette.svg" alt="">
                        <div>
                            <h5>1,670</h5>
                            <p>TREES PLANTED</p>
                        </div>
                    </div>
                    <div class="single-analytics">
                        <img src="./img/fields.svg" alt="">
                        <div>
                            <h5>84%</h5>
                            <p>SURVIVAL RATE</p>
                        </div>
                    </div>
                    <div class="single-analytics">
                        <img src="./img/peach.svg" alt="">
                        <div>
                            <h5>17,308/38,378</h5>
                            <p>KG/LBS HARVESTED</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="community-last-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h4>FEATURED CONTENT</h4>
                    </div>
                    <div class="row">

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="first-content">
                            <h3>How to Clean Up Armenia in <br>One Day?</h3>
                            <p>27 JUL 2018</p>
                            <a href="#">Read More</a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="second-content">
                            <h3>ATP Pays Tribute to the Inspirational Life and Grassroots Work of Fr. Dajad Davidian</h3>
                            <p>20 JUL 2018</p>
                            <a href="#">Read More</a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="third-content">
                            <h3>Call for Annual Tree Planting in Goris</h3>
                            <p>18 JUL 2018</p>
                            <button href="#"> Donate</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>




    <!--Footer Section-->

    <section class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                    <ul>
                        <li>
                            <a href="#">Glossary</a>
                        </li>

                        <li>
                            <a href="#">Contact Us</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                    <ul>
                        <li>
                            <a href="#">FAQ</a>
                        </li>
                        <li>
                            <a href="#">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="#">Terms & Conditions</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12"> </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <p> <span> Armenia Tree Project </span> <br> 400 West Cummings Park <br> Suite 3900, Woburn, MA 01801 USA <br> 617-926-TREE (8733)</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                    <p class="copyright-text">&copy; Copyright 1994-2018 Armenia Tree Project, a project of Armenian Assembly of America. All Rights Reserved.</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-right  social">
                    <p class="hashtag">#GetRooted</p>
                    <a href="#">
                        <img src="./img/facebook-logo.svg" alt="linkedin">
                    </a>
                    <a href="#">
                        <img src="./img/twitter-logo.svg" alt="facebook">
                    </a>
                    <a href="#">
                        <img src="./img/instagram-logo.svg" alt="twitter">
                    </a>
                    <a href="#">
                        <img src="./img/youtube.svg" alt="twitter">
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- jQuery -->
    <script src="{{ asset('js/jquery.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ asset('js/slick.min.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ asset('js/jquery.event.move.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ asset('js/jquery.twentytwenty.js') }}"></script>


    <!-- Custom Js Files-->
    <script src="{{ asset('js/main.js') }}"></script>

    <script>
        $('.before-after-slider').slick({
            arrows: true,
            dots: false,
            infinite: true,
            speed: 600,
            autoplay: false,
            draggable: false,
            autoplaySpeed: 2000,
            slidesToShow: 1,
            slidesToScroll: 1,
        });
    </script>

    <script>
        $(window).load(function(){
            let windowWidth = $(window).width();
            if(windowWidth <= 767) {
                $(".twentytwenty-container").twentytwenty({
                    default_offset_pct: '50%', // How much of the before image is visible when the page loads
                    orientation: 'horizontal', // Orientation of the before and after images ('horizontal' or 'vertical')
                    no_overlay: true, //Do not show the overlay with before and after
                    move_slider_on_hover: false, // Move slider on mouse hover?
                    move_with_handle_only: true, // Allow a user to swipe anywhere on the image to control slider movement.
                    click_to_move: true // Allow a user to click (or tap) anywhere on the image to move the slider to that location.
                });
                let imgWidth = $(".twentytwenty-container img").width()/2;

                // On the container, apply a left offset of 50% (screen center) - minus half image width.
                $(".twentytwenty-container").css({"position":"relative","left":"calc(0% - "+ imgWidth+ "px)"});
            } else {
                $(".twentytwenty-container").twentytwenty({
                    default_offset_pct: 0.38, // How much of the before image is visible when the page loads
                    orientation: 'horizontal', // Orientation of the before and after images ('horizontal' or 'vertical')
                    no_overlay: true, //Do not show the overlay with before and after
                    move_slider_on_hover: false, // Move slider on mouse hover?
                    move_with_handle_only: true, // Allow a user to swipe anywhere on the image to control slider movement.
                    click_to_move: false // Allow a user to click (or tap) anywhere on the image to move the slider to that location.
                });
            }
        });
    </script>

{% endblock %}