{% extends 'base.html.twig' %}
{% block title %}<title>Armenia Tree Project - Ohanian Educational Centers</title>{% endblock %}
{% block body %}

    <section class="volunteer-top-content secondary-pages-top-content">
        <div class="container">
            <div class="row center-aligned-row">
                <div class="col-sm-6">
                    <h1>VOLUNTEER</h1>
                </div>
                <div class="col-sm-6 cover-text">
                    <p>Over <span>200 people volunteer</span> annually<br /> throughout the world to support ATP<br /> programs</p>
                </div>
            </div>
        </div>
    </section>

    <div class="volunteer-page-content-wrapper">
        <section class="community-second">
            <div class="container">
                <div class="row center-aligned-row">
                    <div class="col-md-6 col-xs-12 left-aligned">
                        <h4><span>ATP WANTS YOU!</span></h4>
                        <p>Are you passionate about protecting the environment and eager to lend your time and talent for the betterment of Armenia?</p>
                        <p>From hosting an ATP informational event in your community to participating in a cleanup in Armenia, your passion and creativity can help lead the way to engage others in sustaining and protecting Armenia’s precious resources.</p>
                    </div>
                    <div class="col-md-6 col-xs-12 text-center">
                        <img src="./img/volunteer-first-image.png" srcset="./img/volunteer-first-image@2x.png 2x" alt="">
                        <button class="volunteer-today-btn">Volunteer Today</button>
                    </div>
                </div>
                <div class="row center-aligned-row">
                    <div class="col-md-6 col-xs-12">
                        <div class="building-bridges-video">
                            <div class="title-and-play-button-wrapper">
                                <h3>Building Bridges Video</h3>
                                <a  data-toggle="modal" data-target="#how_planting_works"><img class="play-button" src="./img/play_btn.svg" alt=""></a>
                            </div>
                        </div>
                        <div class="modal fade" id="how_planting_works" tabindex="-1" role="dialog" aria-labelledby="how_planting_works"
                             aria-hidden="true">
                            <div class="modal-dialogg">
                                <div class="modal-contentt">
                                    <div class="modal-body">
                                        <button style="color: #ffffff; opacity: 1;" type="button" class="close" data-dismiss="modal"
                                                aria-hidden="true">&times;</button>
                                        <div class="video-container">
                                            <iframe width="560" height="315" src="https://www.youtube.com/embed/knYkkK2LHbI" frameborder="0"  allowfullscreen></iframe>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12 info-text-wrapper">
                        <h4>Volunteer in Armenia</h4>
                        <ul>
                            <li>Help plant trees at one of our planting sites</li>
                            <li>Take part in a cleanup or environmental project</li>
                            <li>Volunteer at our EcoCamps  and help teach the next       generation of environmentalists</li>
                        </ul>
                    </div>
                </div>
                <div class="row center-aligned-row">
                    <div class="col-md-6 col-xs-12 left-aligned">
                        <h4>Volunteer in your community</h4>
                        <ul>
                            <li>Represent ATP in your community through events and festivals</li>
                            <li>Organize an event for ATP at your church or in your community</li>
                            <li>Bring ATP’s Building Bridges curriculum to your school or youth group</li>
                            <li>Volunteer in our office for an hour or an afternoon</li>
                            <li>Lend a hand at one of our many events throughout the US</li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <img class="volunteer-in-community-img" src="./img/volunteer-secont-photo.png" srcset="./img/volunteer-secont-photo@2x.png 2x" alt="">
                    </div>
                </div>
                <div class="text-center">
                    <button class="ambassador-btn">Be an Ambassador</button>
                </div>
            </div>
        </section>

    </div>




    <!--Footer Section-->

    <section class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                    <ul>
                        <li>
                            <a href="#">Glossary</a>
                        </li>
                        <li>
                            <a href="#">About Us</a>
                        </li>
                        <li>
                            <a href="#">Contact Us</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                    <ul>
                        <li>
                            <a href="#">FAQ</a>
                        </li>
                        <li>
                            <a href="#">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="#">Terms & Conditions</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12"> </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <p> <span> Armenia Tree Project </span> <br> 400 West Cummings Park <br> Suite 3900, Woburn, MA 01801 USA <br> 617-926-TREE (8733)</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                    <p class="copyright-text">&copy; Copyright 1994-2018 Armenia Tree Project, a project of Armenian Assembly of America. All Rights Reserved.</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-right  social">
                    <p class="hashtag">#GetRooted</p>
                    <a href="#">
                        <img src="./img/facebook-logo.svg" alt="linkedin">
                    </a>
                    <a href="#">
                        <img src="./img/twitter-logo.svg" alt="facebook">
                    </a>
                    <a href="#">
                        <img src="./img/instagram-logo.svg" alt="twitter">
                    </a>
                    <a href="#">
                        <img src="./img/youtube.svg" alt="twitter">
                    </a>
                </div>
            </div>
        </div>
    </section>


    <!-- jQuery -->
    <script src="{{ asset('js/jquery.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>


    <!-- Custom Js Files-->
    <script src="{{ asset('js/main.js') }}"></script>





    </body>
    </html>
    {#<hr>#}
    {#<table>#}
    {#{% for object in pager.currentPageResults %}#}
    {#<tr>#}
    {#<td>{{ object.Title }}</td>#}
    {#<td>{{ object.Text }}</td>#}
    {#</tr>#}
    {#{% endfor %}#}
    {#</table>#}

    {#{% if pager.haveToPaginate %}#}
    {#{{ pagerfanta(pager) }}#}
    {#{% endif %}#}
    {#<hr>#}
{% endblock %}