{% extends 'base.html.twig' %}
{% block title %}<title>Armenia Tree Project - EcoGames</title>{% endblock %}

{% block body %}

    <section class="bridges-interactive-secondary-menu">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-xs-12">
                    <ul class="secondary-navbar">
                        <li>
                            <a href="{{ path('ecogames') }}">EcoGames</a>
                        </li>
                        <li>
                            <a href="{{ path('bbmagazine') }}">BB Magazine</a>
                        </li>
                        <li>
                            <a href="{{ path('videos') }}">Videos</a>
                        </li>
                        <li>
                            <a href="{{ path('tchalo') }}">Meet Tchalo!</a>
                        </li>
                        <li>
                            <a href="{{ path('coloring') }}">Coloring</a>
                        </li>
                        <li>
                            <a href="{{ path('treevia') }}">Treevia!</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-4 col-xs-12 text-right">
                    <img src="./img/bb-interactive.svg" alt="">
                </div>
            </div>
        </div>
    </section>

    <!-- jQuery -->
    <script src="{{ asset('js/jquery.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>

    <!-- Custom Js Files-->
    <script src="{{ asset('js/main.js') }}"></script>

{% endblock %}

