{% extends 'base.html.twig' %}
{% block title %}<title>Armenia Tree Project - Interactive</title>{% endblock %}

{% block body %}

    <section class="bridges-interactive-secondary-menu">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-xs-12">
                    <ul class="secondary-navbar">
                        <li>
                            <a href="">EcoGames</a>
                        </li>
                        <li>
                            <a href="">BB Magazine</a>
                        </li>
                        <li>
                            <a href="">Videos</a>
                        </li>
                        <li>
                            <a href="">Meet Tchalo!</a>
                        </li>
                        <li>
                            <a href="">Coloring</a>
                        </li>
                        <li>
                            <a href="">Treevia!</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-4 col-xs-12 text-right">
                    <img src="./img/bb-interactive.svg" alt="">
                </div>
            </div>
        </div>
    </section>


    <section class="bridges-interactive-slider-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="bb-interactive-slider">
                        <div class="bb-slide-one">
                            <div class="bb-slide-text-wrapper">
                                <p>Why are Trees so Important?</p>
                                <h1>THEY GROW FOOD FOR<br /> PEOPLE AND ANIMALS</h1>
                            </div>
                        </div>
                        <div class="bb-slide-one">
                            <div class="bb-slide-text-wrapper">
                                <p>Why are Trees so Important?</p>
                                <h1>THEY GROW FOOD FOR<br /> PEOPLE AND ANIMALS</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="bb-interactive-pictured-menu">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-xs-12">
                    <a href="">
                        <div>
                            <img src="./img/games-menu-photo.png" srcset="./img/games-menu-photo@2x.png 2x" alt="">
                            <div class="menu-title games">
                                <p>Games</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-4 col-xs-12">
                    <a href="">
                        <div>
                            <img src="./img/magazines-menu-photo.png" srcset="./img/magazines-menu-photo@2x.png 2x" alt="">
                            <div class="menu-title magazines">
                                <p>Magazines</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-4 col-xs-12">
                    <a href="">
                        <div>
                            <img src="./img/trevia-menu-photo.png" srcset="./img/trevia-menu-photo@2x.png 2x" alt="">
                            <div class="menu-title treevia">
                                <p>Treevia!</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 col-xs-12">
                    <a href="">
                        <div>
                            <img src="./img/videos-menu-photo.png" srcset="./img/videos-menu-photo@2x.png 2x" alt="">
                            <div class="menu-title videos">
                                <p>Videos</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-4 col-xs-12">
                    <a href="">
                        <div>
                            <img src="./img/coloring-menu-photo.png" srcset="./img/coloring-menu-photo@2x.png 2x" alt="">
                            <div class="menu-title coloring">
                                <p>Coloring</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-4 col-xs-12">
                    <a href="">
                        <div>
                            <img src="./img/tchalo-menu-photo.png" srcset="./img/tchalo-menu-photo@2x.png 2x" alt="">
                            <div class="menu-title tchalo">
                                <p>Meet Tchalo!</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>


    <section class="order-atp-t-shirt">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h2>Order your ATP T-Shirt Today!</h2>
                    <button class="order-btn">Order Now!</button>
                </div>
            </div>
        </div>
    </section>



    <!--Footer Section-->

    <section class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                    <ul>
                        <li>
                            <a href="#">Glossary</a>
                        </li>

                        <li>
                            <a href="#">Contact Us</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                    <ul>
                        <li>
                            <a href="#">FAQ</a>
                        </li>
                        <li>
                            <a href="#">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="#">Terms & Conditions</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12"> </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <p> <span> Armenia Tree Project </span> <br> 400 West Cummings Park <br> Suite 3900, Woburn, MA 01801 USA <br> 617-926-TREE (8733)</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                    <p class="copyright-text">&copy; Copyright 1994-2018 Armenia Tree Project, a project of Armenian Assembly of America. All Rights Reserved.</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-right  social">
                    <p class="hashtag">#GetRooted</p>
                    <a href="#">
                        <img src="./img/facebook-logo.svg" alt="linkedin">
                    </a>
                    <a href="#">
                        <img src="./img/twitter-logo.svg" alt="facebook">
                    </a>
                    <a href="#">
                        <img src="./img/instagram-logo.svg" alt="twitter">
                    </a>
                    <a href="#">
                        <img src="./img/youtube.svg" alt="twitter">
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- jQuery -->
    <script src="{{ asset('js/jquery.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>

    <!-- Slick Slider -->
    <script src="{{ asset('js/slick.min.js') }}"></script>

    <!-- Slick custom functionality -->
    <script src="{{ asset('js/sliderFunctionality.js') }}"></script>


    <!-- Custom Js Files-->
    <script src="{{ asset('js/main.js') }}"></script>

{% endblock %}

