<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content=""/>
        <meta property="og:description" content="" />
        <meta property="og:title" content=""/>
        <meta name="author" content="">
        {% block title %}<title>Armenia Tree Project</title>{% endblock %}
        {% block stylesheets %}
        <!-- Bootstrap Core CSS -->
        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
        <!-- Custom CSS -->
        <link href="{{ asset('css/style.css') }}" rel="stylesheet">
        <!-- Twentytwenty CSS -->
        <link href="{{ asset('css/twentytwenty.css') }}" rel="stylesheet">
        <!-- Slick CSS -->
        <link href="{{ asset('css/slick.css') }}" rel="stylesheet">
        <!-- Calendar -->
        <link rel="stylesheet" href="{{ asset('css/pignose.calendar.css') }}">
        <!--&lt;!&ndash;Favicon&ndash;&gt;-->
        <link rel="shortcut icon" type="image/png" href="{{ asset('img/faveicon.png') }}" />
        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:700" rel="stylesheet">
        {% endblock %}
    </head>
    <body>
        {% block nav %}
            <!-- Navigation -->
            <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
                <div class="container">
                    <div class="navbar-header page-scroll">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="{{ path('index') }}">
                        </a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse navbar-ex1-collapse" id="menu-center">
                        <ul class="nav navbar-nav navbar-left">
                            <li class="dropdown">
                                <a id="our_work" class="page-scroll" href="#" data-toggle="dropdown" role="button"
                                   aria-haspopup="true" aria-expanded="false">Our Work</a>
                                <ul class="dropdown-menu" aria-labelledby="our_work">
                                    <li>
                                        <a href="{{ path('tree') }}">Tree Propagation</a>
                                    </li>
                                    <li class="sub-dropdown">
                                        <a href="{{ path('community') }}">Community Planting</a>
                                        <ul class="sub-dropdown-group">
                                            <li><a href="">Village & City Greening</a></li>
                                            <li><a href="">Environmental Stewardship</a></li>
                                            <li><a href="{{ path('fruit') }}">Fruit Harvesting</a></li>
                                        </ul>
                                    </li>
                                    <li class="sub-dropdown">
                                        <a href="{{ path('forestation') }}">Forestry</a>
                                        <ul class="sub-dropdown-group">
                                            <li><a href="">Mirak Family Nursery</a></li>
                                        </ul>
                                    </li>
                                    <li class="sub-dropdown">
                                        <a href="{{ path('economic') }}">Economic Empowerment</a>
                                        <ul class="sub-dropdown-group">
                                            <li><a href="{{ path('backyard') }}">Backyard Nurseries</a></li>
                                        </ul>
                                    </li>
                                    <li class="sub-dropdown">
                                        <a href="#">Education & Awareness</a>
                                        <ul class="sub-dropdown-group">
                                            <li><a href="">The Building Bridges Initiative</a></li>
                                            <li><a href="">Empowering Communities in Armenia</a></li>
                                            <li><a href="">Ohanian Educational Centers</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a class="page-scroll" data-target=".navbar-collapse" href="{{ path('where') }}">Where We Are</a>
                            </li>
                            <li class="dropdown">
                                <a id="getInvolved" class="page-scroll" href="#" data-toggle="dropdown" role="button"
                                   aria-haspopup="true" aria-expanded="false">Get Involved</a>
                                <ul class="dropdown-menu" aria-labelledby="getInvolved">
                                    <li class="sub-dropdown">
                                        <a href="{{ path('donation') }}">Donate</a>
                                        <ul class="sub-dropdown-group">
                                            <li><a href="">Oak Society</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Volunteer</a>
                                    </li>
                                    <li>
                                        <a href="#">Be an Ambassador!</a>
                                    </li>
                                    <li>
                                        <a href="#">Tour and Plant</a>
                                    </li>
                                    <li class="sub-dropdown">
                                        <a href="{{ path('events') }}">Join Us!</a>
                                        <ul class="sub-dropdown-group">
                                            <li><a href="">Local Events</a></li>
                                            <li><a href="">Symposium</a></li>
                                            <li><a href="">Clean-Up Day</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a class="page-scroll" data-target=".navbar-collapse" href="{{ path('impact') }}">Our Impact</a>
                            </li>
                            <li class="dropdown">
                                <a id="kids_family" class="page-scroll" href="#" data-toggle="dropdown" role="button"
                                   aria-haspopup="true" aria-expanded="false">Kids & Family</a>
                                <ul class="dropdown-menu" aria-labelledby="kids_family">
                                    <li>
                                        <a href="#">Building Bridges Interactive</a>
                                    </li>
                                    <li>
                                        <a href="#">Summer Eco-Camp in Armenia</a>
                                    </li>
                                    <li>
                                        <a href="#">Eco-Club Sign-up</a>
                                    </li>
                                    <li>
                                        <a href="#">Fire Safety & Prevention</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a class="page-scroll" data-target=".navbar-collapse" href="{{ path('news') }}">News</a>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="search-button-wrapper">
                                <form>
                                    <input class="search-input" type="text" placeholder="Search.." name="search">
                                    <button class="search-button"></button>
                                </form>
                            </li>
                            <li class="button-wrapper">
                                <a href="{{ path('donation') }}" class="donation-link">
                                 <button class="donate-btn">Donate</button>
                                </a>
                            </li>
                            <li class="dropdown language-selector-dropdown">
                                <a id="language_selector" class="page-scroll" href="#" data-toggle="dropdown" role="button"
                                   aria-haspopup="true" aria-expanded="false">EN</a>
                                <img class="carret-icon" src="./img/arrow-right.svg" alt="">
                                <ul class="dropdown-menu" aria-labelledby="language_selector">
                                    <li>
                                        <a href="#">ՀԱՅ</a>
                                    </li>
                                    <li>
                                        <a href="#">РУС</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container -->
            </nav>
        {% endblock %}

        {% block body %}
        {% endblock %}
        {#{% block javascripts %}{% endblock %}#}
    </body>
</html>